footer {
	display: block;
	position: fixed;
	bottom: 0px;
	height: $h_footer;
	//- width: calc(100% - 2px);
	width: 100%;
	padding: 0 4px;
	color: $color_l5;
	background-color: $bg_footer;

	p {
		// height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}
