//* -------------------------------------------------------------------------- */
//*                                   COMMON                                   */
//* -------------------------------------------------------------------------- */

footer {
	display: block;
	position: fixed;
	bottom: 0px;
	height: $h_footer;
	//_ width: calc(100% - 2px);
	width: 100%;
	padding: 0 10px;
	color: $color_l5;
	background-color: $bg_footer;
	// font-size: 12pt;

	div {
		height: 100%;
		flex-direction: row;
		display: flex;
		align-items: flex-end;

		p {
			display: flex;
			margin: 0 2px;
			text-align: center;
			padding: 2px 2px;
			border-radius: 8px 8px 0 0;
			cursor: default;
			font-weight: 100;
			//_ font-variant-caps: petite-caps;
			user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
		}
	}
}

//* -------------------------------------------------------------------------- */
//*                                    FLOW                                    */
//* -------------------------------------------------------------------------- */

#z-flow {
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-content: center;

	div {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 20vw;
		max-width: 200px;
		margin: auto -0.5px;
		// padding: auto 20px;
		// padding-left: 40px;
		// padding-right: 40px;
		// border-left: 1px dotted $color_d1;
		// border-right: 1px dotted $color_d1;
		user-select: none;

		h4 {
			color: $color_l5;
			margin-right: 20px;
		}
	}

	#z-flow-status {
		max-width: 50vw;
		width: 320px; //$w_sidebar * 1px;
		// border-right: 4px double $color_d1;
	}

	#z-flow-clog {
		max-width: 500px;
		width: 320px;
	}
}
