footer {
	display: block;
	position: fixed;
	bottom: 0px;
	height: $h_footer;
	//- width: calc(100% - 2px);
	width: 100%;
	padding: 0 10px;
	color: $color_l5;
	background-color: $bg_footer;

	div {
		height: 100%;
		flex-direction: row;
		display: flex;
		align-items: flex-end;
		p {
			display: flex;
			margin: 0 2px;
			text-align: center;
			padding: 2px 2px;
			border-radius: 8px 8px 0 0;
			cursor: default;
			font-weight: 100;
			//_ font-variant-caps: petite-caps;
			user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
		}
	}
}
