// Barra de opções / resumo
#navsum {
	display: grid;
	position: sticky;
	top: 4rem;
	width: 100%;
	height: 160px;
	/* text-align: center; */
	align-items: center;
	text-emphasis: none;
	z-index: 1;
	margin: auto;
	max-width: calc(100vw - 2em);

	.sumcontainer {
		height: 100px;
		width: 900px;
		margin: auto;
		border-radius: 20px;
		background-color: #eee;
		border: 4px solid #666;
		z-index: 10;
		font-family: 'Fira Code', 'Consolas';
		font-weight: bold;
		color: black;
		cursor: default;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);

		.div-hTotal {
			grid-column: 3;
			grid-row: 2;
		}

		#nGav-container {
			grid-column: 1 / span 4;
			grid-row: 1;
			width: 100%;
			padding: 0 1rem;
			display: flex;
			flex-direction: row;
			align-items: center;
			// border-bottom: 2px solid #ddd;

			.slider {
				-webkit-appearance: none;
				width: 76%;
				height: 6px;
				border-radius: 3px;
				background: #aaa;
				outline: none;
				-webkit-transition: 0.2s;
				transition: all 0.2s;
				margin: 0 20px;
			}
			.slider::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				width: 16px;
				height: 32px;
				border-radius: 6px;
				background: darkred;
				transition: all 0.2s;
				/* cursor: pointer; */
			}
			.slider::-moz-range-thumb {
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: darkred;
				cursor: pointer;
			}
		}
	}
}
