//* -------------------------------------------------------------------------- */
//*                                    TABS                                    */
//* -------------------------------------------------------------------------- */

#menu-tabs {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	box-sizing: border-box;
	height: $h_tabs;
	width: 100%;
	padding: 0 50px;
	background-color: $bg_tabs;

	button {
		background-color: $bg_tabs;
		color: $color_l3;
		font-family: inherit;
		font-size: inherit;
		height: 80%;
		text-align: center;
		text-decoration: none;
		font-variant-caps: petite-caps;

		border-radius: 8px 8px 0 0;
		margin: 0 20px;
		padding: 2px 32px;
		cursor: default;
		transition: 0.2s;
		user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
		outline: none;
		//- pointer-events: none;
		&:hover {
			background-color: lighten($bg_tabs, 10%);
			color: $color_l5;
			//- outline: none;
		}

		&.active {
			color: $color_d4;
			font-weight: 500;
			background-color: $bg_ribbon;
			box-shadow: $shadow2;
			font-size: 1.05em;
			//-text-transform: uppercase;
			&:focus {
				outline: none;
			}
		}
	}
}

//* -------------------------------------------------------------------------- */
//*                                   RIBBON                                   */
//* -------------------------------------------------------------------------- */

#menu-ribbon {
	position: relative;
	display: block;
	flex-direction: row;
	flex-wrap: nowrap;
	box-sizing: border-box;
	height: $h_ribbon;
	width: 100%;
	padding: 4px;
	color: $color_d3;
	background-color: $bg_ribbon;
	border-bottom: 1px solid $color_l2;
	box-shadow: $shadow1;
	border-right: 1px solid $color_l2;
	border-left: 1px solid $color_l2;

	#rbn-flow {
		display: flex;
		flex-direction: row;
		padding: 0 20px;

		.btn-container {
			height: 100%;
			margin: 0px 10px;
			margin-top: 5px;
			user-select: none;
			justify-content: center;
			text-align: center;
		}

		h5 {
			font-weight: 300;
		}

		img {
			height: 40px;
			filter: none;
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			cursor: pointer;
			transition: all 100ms ease;
			cursor: default;
			border-radius: 5px;
			border: 1px solid $bg_ribbon;
			padding: 4px;
			user-select: none;
			-moz-user-select: none;
			-webkit-user-drag: none;
			-webkit-user-select: none;
			-ms-user-select: none;

			&:hover {
				filter: none;
				// height: 46px;
				-webkit-filter: grayscale(0%);
				-moz-filter: grayscale(0%);
				-ms-filter: grayscale(0%);
				-o-filter: grayscale(0%);
				box-shadow: $shadow1;
				border-radius: 5px;
				border: 1px solid $color_l1;
			}
		}
	}
}

//* -------------------------------------------------------------------------- */
//*                                   SIDEBAR                                  */
//* -------------------------------------------------------------------------- */

#sidebar {
	// display: inline-block;
	box-sizing: border-box;
	// width: $w_sidebar;
	width: 320px;
	background-color: $bg_sidebar;
	padding: 10px;
	// height: 100%;
	height: $h_main;
	border-right: 1px solid $color_l2;
	border-left: 1px solid $color_l2;
	box-shadow: $shadow1;
}
