#menu-tabs {
	display: block;
	box-sizing: border-box;
	// position: fixed;
	height: $h_tabs;
	// top: $h_title;
	// left: 0;
	width: 100%;
	padding: 4px;
	color: $color_l5;
	background-color: $color_d2;
}
