/*
*/
@font-face {
  font-family: 'MainFont';
  src: url("../assets/fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-variant-caps: petite-caps;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f0f3f4;
  height: 100vh;
  font-family: 'MainFont', 'Courier New', 'Roboto Condensed', 'Helvetica', sans-serif, Arial;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  overflow-y: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body sub {
  font-size: 0.6em;
}

body h1 {
  display: inline;
  font-size: 16pt;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body h2 {
  display: inline;
  font-size: 14pt;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body h4 {
  font-variant-caps: petite-caps;
  font-weight: 300;
  color: #2b363b;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #f0f3f4;
}

::-webkit-scrollbar-thumb {
  background: #c4cfd4;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6c8693;
}

::-webkit-scrollbar-corner {
  background: #f0f3f4;
}

main {
  margin: 0 auto;
  height: calc(100vh - 36px - 28px - 72px - 24px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  grid-auto-flow: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border-right: 1px solid #a7b6be;
}

#wrapper {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 36px - 28px - 72px - 24px);
}

#wrapper .tabcontent {
  padding: 10px;
}

#titlebar {
  display: block;
  height: 36px;
  width: 100%;
  color: #f0f3f4;
  background-color: #161b1d;
}

#titlebar .maximized {
  width: 100%;
  padding: 0;
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px auto 138px;
      grid-template-columns: 32px auto 138px;
}

#titlebar #main {
  height: calc(100% - 32px);
  margin-top: 32px;
  padding: 20px;
  overflow-y: auto;
}

#titlebar #window-icon {
  -ms-grid-column: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  overflow: hidden;
}

#titlebar #window-icon img {
  height: 24px;
}

#titlebar #window-title {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  overflow: hidden;
  font-size: 16px;
}

#titlebar #window-title .maximized {
  margin-left: 12px;
}

#titlebar #window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

#titlebar #window-controls {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (46px)[3];
      grid-template-columns: repeat(3, 46px);
  top: 0;
  right: 0;
  height: 100%;
  -webkit-app-region: no-drag;
}

#titlebar #window-controls .button {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#titlebar #window-controls .button:hover {
  background: rgba(255, 255, 255, 0.2);
}

#titlebar #window-controls .button:active {
  background: rgba(255, 255, 255, 0.4);
}

#titlebar #close-button:hover {
  background: #e81123 !important;
}

#titlebar #close-button:active {
  background: #f1707a !important;
}

#titlebar #close-button:active .icon {
  -webkit-filter: invert(1);
          filter: invert(1);
}

#titlebar #min-button {
  -ms-grid-column: 1;
  grid-column: 1;
}

#titlebar #max-button,
#titlebar #restore-button {
  -ms-grid-column: 2;
  grid-column: 2;
}

#titlebar #close-button {
  -ms-grid-column: 3;
  grid-column: 3;
}

#restore-button {
  display: none !important;
}

.maximized #restore-button {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.maximized #max-button {
  display: none !important;
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5), (-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2), (-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

#menu-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 28px;
  width: 100%;
  padding: 0 50px;
  background-color: #415058;
}

#menu-tabs button {
  background-color: #415058;
  color: #c4cfd4;
  font-family: inherit;
  font-size: inherit;
  height: 80%;
  text-align: center;
  text-decoration: none;
  font-variant-caps: petite-caps;
  border-radius: 8px 8px 0 0;
  margin: 0 20px;
  padding: 2px 32px;
  cursor: default;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  outline: none;
}

#menu-tabs button:hover {
  background-color: #576b75;
  color: #f0f3f4;
}

#menu-tabs button.active {
  color: #161b1d;
  font-weight: 500;
  background-color: #c4cfd4;
  -webkit-box-shadow: 5px 5px 10px rgba(22, 27, 29, 0.5);
          box-shadow: 5px 5px 10px rgba(22, 27, 29, 0.5);
  font-size: 1.05em;
}

#menu-tabs button.active:focus {
  outline: none;
}

#menu-ribbon {
  position: relative;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 72px;
  width: 100%;
  padding: 4px;
  color: #2b363b;
  background-color: #c4cfd4;
  border-bottom: 1px solid #a7b6be;
  -webkit-box-shadow: 5px 5px 10px rgba(108, 134, 147, 0.25);
          box-shadow: 5px 5px 10px rgba(108, 134, 147, 0.25);
  border-right: 1px solid #a7b6be;
  border-left: 1px solid #a7b6be;
}

#menu-ribbon #rbn-flow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 20px;
}

#menu-ribbon #rbn-flow .btn-container {
  height: 100%;
  margin: 0px 10px;
  margin-top: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#menu-ribbon #rbn-flow h5 {
  font-weight: 300;
}

#menu-ribbon #rbn-flow img {
  height: 40px;
  filter: none;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  cursor: pointer;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  cursor: default;
  border-radius: 5px;
  border: 1px solid #c4cfd4;
  padding: 4px;
}

#menu-ribbon #rbn-flow img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -webkit-box-shadow: 5px 5px 10px rgba(108, 134, 147, 0.25);
          box-shadow: 5px 5px 10px rgba(108, 134, 147, 0.25);
  border-radius: 5px;
  border: 1px solid #8a9ea8;
}

#sidebar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 320px;
  background-color: #e2e7e9;
  padding: 10px;
  height: calc(100vh - 36px - 28px - 72px - 24px);
  border-right: 1px solid #a7b6be;
  border-left: 1px solid #a7b6be;
  -webkit-box-shadow: 5px 5px 10px rgba(108, 134, 147, 0.25);
          box-shadow: 5px 5px 10px rgba(108, 134, 147, 0.25);
}

footer {
  display: block;
  position: fixed;
  bottom: 0px;
  height: 24px;
  width: 100%;
  padding: 0 10px;
  color: #f0f3f4;
  background-color: #2b363b;
}

footer div {
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2px;
  text-align: center;
  padding: 2px 2px;
  border-radius: 8px 8px 0 0;
  cursor: default;
  font-weight: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#z-flow {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
}

#z-flow div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 20vw;
  max-width: 200px;
  margin: auto -0.5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#z-flow div h4 {
  color: #f0f3f4;
  margin-right: 20px;
}

#z-flow #z-flow-status {
  max-width: 50vw;
  width: 320px;
}

#z-flow #z-flow-clog {
  max-width: 500px;
  width: 320px;
}

.slider {
  -webkit-appearance: none;
  width: 76%;
  height: 6px;
  border-radius: 3px;
  background: #a7b6be;
  outline: none;
  -webkit-transition: 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin: 20px 5px;
  opacity: 0.5;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 32px;
  border-radius: 8px;
  background: #576b75;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 2px 2px 5px rgba(87, 107, 117, 0.5);
          box-shadow: 2px 2px 5px rgba(87, 107, 117, 0.5);
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #576b75;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(87, 107, 117, 0.5);
}

.sumcontainer {
  width: 100%;
  padding: 5%;
  border-radius: 10px;
  border: 1px solid #a7b6be;
}

.sumcontainer #nGav-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sumcontainer #nGav-container input {
  width: calc(100% - 30px);
}

.sumcontainer #nGav-container #nGavs {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sumcontainer .div-hTotal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flow-leg-container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flow-leg-container #leg-title {
  width: 100%;
  padding: 0 150px;
}

.flow-leg-container .flow-color-title {
  width: 80%;
  text-align: right;
  padding: 0 20px;
}

.flow-leg-container .flow-color-box {
  width: 10%;
  margin: 2px 0;
}

.flow-leg-container .space {
  height: 10px;
  width: 100%;
}

.flow-leg-container #flow-color-box01 {
  background-color: navy;
}

.flow-leg-container #flow-color-box02 {
  background-color: #209fdf;
}

.flow-leg-container #flow-color-box03 {
  background-color: #800055;
}

.flow-leg-container #flow-color-box04 {
  background-color: #9f20df;
}

.flow-leg-container #flow-color-box05 {
  background-color: gray;
}

.flow-leg-container #flow-color-box06 {
  background-color: #bfbfbf;
}

#flow-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#flow-main #divCOD {
  width: 150px;
  margin: 20px 10px;
  margin-top: 164px;
  color: #6c8693;
}

#flow-main #divCOD .codcontainer {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#flow-main #divCOD .codcontainer .codValue {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto 10px;
  font-weight: 300;
}

#flow-main #divESQ {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  border: 1px solid #a7b6be;
  margin: 20px 0;
  padding: 50px 0;
  height: 2200px;
  overflow-y: hidden;
}

#flow-main #divESQ #svgESQ {
  width: 400px;
  height: 2200px;
}

#flow-main #divHCtrl {
  margin: 20px 20px;
  margin-top: 150px;
}

#flow-main #divHCtrl .slidecontainer {
  height: 64px;
}

#flow-main #divHCtrl .slider {
  width: 150px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#flow-main #divHCtrl h2 {
  margin-right: 10px;
  color: #2b363b;
}

#flow-main #divHCtrl span {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 24px;
  margin-left: 10px;
}
