//* -------------------------------------------------------------------------- */
//*                                   COLORS                                   */
//* -------------------------------------------------------------------------- */

$blue_grey: hsl(200, 15%, 50%);
$blue_grey_shadow: transparentize($blue_grey, 0.75);

$color: $blue_grey;
$color_d5: darken($color, 45%);
$color_d4: darken($color, 40%);
$color_d3: darken($color, 30%);
$color_d2: darken($color, 20%);
$color_d1: darken($color, 10%);

$color_l1: lighten($color, 10%);
$color_l2: lighten($color, 20%);
$color_l3: lighten($color, 30%);
$color_l4: lighten($color, 40%);
$color_l5: lighten($color, 45%);

$bg_wintitle: $color_d4;
$bg_footer: $color_d3;
$bg_tabs: $color_d2;
$bg_ribbon: $color_l3;
$bg_sidebar: $color_l4;
$bg_main: $color_l5;

$sldr_color: $color_d1;

//* -------------------------------------------------------------------------- */
//*                                    SIZES                                   */
//* -------------------------------------------------------------------------- */

$h_title: 36px;
$h_tabs: 28px;
$h_ribbon: 72px;
$h_footer: 24px;
// $h_main: 300px;
// $h_main: calc(100vh - $h_title - $h_tabs - $h_ribbon - $h_footer);
// $h_main: calc(	100vh - var($h_title) - var($h_tabs) - var($h_ribbon) - var($h_footer));
$h_main: calc(100vh - 36px - 28px - 72px - 24px);

$w_sidebar: 320;

$shadow1: 5px 5px 10px transparentize($color, 0.75);
$shadow2: 5px 5px 10px transparentize($color_d4, 0.5);
$sldr_shadow: 2px 2px 5px transparentize($sldr_color, 0.5);
$shadowscroll: 0px 0px 5px transparentize($color, 0.75);

/*
*/
@font-face {
	font-family: 'MainFont';
	src: url('../assets/fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

//* -------------------------------------------------------------------------- */
//*                                    RESET                                   */
//* -------------------------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
	border: none;
	// vertical-align: baseline;
	font-variant-caps: petite-caps;
	box-sizing: border-box;

	// &:before,
	// &:after {
	// 	box-sizing: inherit;
	// }
}

//* -------------------------------------------------------------------------- */
//*                                Main Styling                                */
//* -------------------------------------------------------------------------- */

body {
	background-color: $bg_main;
	height: 100vh;
	font-family: 'MainFont', 'Courier New', 'Roboto Condensed', 'Helvetica',
		sans-serif, Arial;
	// display: grid;
	box-sizing: border-box;
	border: none;
	overflow-y: hidden;

	sub {
		font-size: 0.6em;
	}

	h1 {
		display: inline;
		font-size: 16pt;
		align-self: center;
	}
	h2 {
		display: inline;
		font-size: 14pt;
		align-self: center;
	}
	h4 {
		font-variant-caps: petite-caps;
		font-weight: 300;
		color: $color_d3;
	}
}

//* ------------------------------- SCROLL BAR ------------------------------- */

::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track {
	background: $color_l5;
	//_ box-shadow: inset 0 0 5px black;
}

::-webkit-scrollbar-thumb {
	background: $color_l3;
	//_box-shadow: $shadowscroll;
	border-radius: 2px;
	//_ box-shadow: inset 0 0 5px black;
}

::-webkit-scrollbar-thumb:hover {
	background: $color;
	//_ box-shadow: inset 0 0 5px black;
}
//_ ::-webkit-scrollbar-track-piece {
//_ 	background: $color_d5;
//_ 	box-shadow: inset 0 0 5px black;
//_ }

//_ ::-webkit-scrollbar-button {
//_ 	color: $color_l2;
//_ 	background: $color_l3;
//_ 	border-radius: 4px;
//_ }
::-webkit-scrollbar-corner {
	background: $color_l5;
}

//* -------------------------------- MAIN BODY ------------------------------- */

main {
	margin: 0 auto;
	height: $h_main;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	grid-auto-flow: column;
	justify-content: left;
	border-right: 1px solid $color_l2;
	// overflow-y: hidden;
}

#wrapper {
	display: block;
	// position: relative;
	box-sizing: border-box;
	width: 100%;
	overflow-y: auto;
	height: $h_main;
	// height: 500px;

	.tabcontent {
		padding: 10px;
	}
}

// @import 'gpf';
@import 'titlebar';
@import 'menu';
@import 'footer';
@import 'flow';
