@charset "UTF-8";
/*
*/
@font-face {
  font-family: 'MainFont';
  src: url("../assets/fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f1f3f4;
  overflow-y: hidden;
  font-family: 'MainFont', 'Courier New', 'Roboto Condensed', 'Helvetica', sans-serif, Arial;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  /* Barra de Navegação / Título */
}

body sub {
  font-size: 0.5em;
}

body h1 {
  display: inline;
}

body #navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px auto 50px;
      grid-template-columns: 50px auto 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: auto;
  height: 3.5rem;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-text-emphasis: none;
          text-emphasis: none;
  padding: 0;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  word-spacing: 0.25rem;
  color: #fff;
  z-index: 1;
  border-bottom: 5px black;
  text-transform: capitalize;
  cursor: default;
}

body #navbar .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #navbar .nav-title {
  padding: 0;
}

main {
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  grid-auto-flow: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border-right: 1px solid #abb5ba;
}

#navsum {
  display: -ms-grid;
  display: grid;
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  width: 100%;
  height: 160px;
  /* text-align: center; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-text-emphasis: none;
          text-emphasis: none;
  z-index: 1;
  margin: auto;
  max-width: calc(100vw - 2em);
}

#navsum .sumcontainer {
  height: 100px;
  width: 900px;
  margin: auto;
  border-radius: 20px;
  background-color: #eee;
  border: 4px solid #666;
  z-index: 10;
  font-family: 'Fira Code', 'Consolas';
  font-weight: bold;
  color: black;
  cursor: default;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

#navsum .sumcontainer .div-hTotal {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

#navsum .sumcontainer #nGav-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  -ms-grid-row: 1;
  grid-row: 1;
  width: 100%;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navsum .sumcontainer #nGav-container .slider {
  -webkit-appearance: none;
  width: 76%;
  height: 6px;
  border-radius: 3px;
  background: #aaa;
  outline: none;
  -webkit-transition: 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin: 0 20px;
}

#navsum .sumcontainer #nGav-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 32px;
  border-radius: 6px;
  background: darkred;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  /* cursor: pointer; */
}

#navsum .sumcontainer #nGav-container .slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: darkred;
  cursor: pointer;
}

#titlebar {
  display: block;
  height: 36px;
  width: 100%;
  color: #f1f3f4;
  background-color: #171a1c;
}

#titlebar .maximized {
  width: 100%;
  padding: 0;
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px auto 138px;
      grid-template-columns: 32px auto 138px;
}

#titlebar #main {
  height: calc(100% - 32px);
  margin-top: 32px;
  padding: 20px;
  overflow-y: auto;
}

#titlebar #window-icon {
  -ms-grid-column: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  overflow: hidden;
}

#titlebar #window-icon img {
  height: 24px;
}

#titlebar #window-title {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  overflow: hidden;
  font-size: 16px;
}

#titlebar #window-title .maximized {
  margin-left: 12px;
}

#titlebar #window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

#titlebar #window-controls {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (46px)[3];
      grid-template-columns: repeat(3, 46px);
  top: 0;
  right: 0;
  height: 100%;
  -webkit-app-region: no-drag;
}

#titlebar #window-controls .button {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#titlebar #window-controls .button:hover {
  background: rgba(255, 255, 255, 0.2);
}

#titlebar #window-controls .button:active {
  background: rgba(255, 255, 255, 0.4);
}

#titlebar #close-button:hover {
  background: #e81123 !important;
}

#titlebar #close-button:active {
  background: #f1707a !important;
}

#titlebar #close-button:active .icon {
  -webkit-filter: invert(1);
          filter: invert(1);
}

#titlebar #min-button {
  -ms-grid-column: 1;
  grid-column: 1;
}

#titlebar #max-button,
#titlebar #restore-button {
  -ms-grid-column: 2;
  grid-column: 2;
}

#titlebar #close-button {
  -ms-grid-column: 3;
  grid-column: 3;
}

#restore-button {
  display: none !important;
}

.maximized #restore-button {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.maximized #max-button {
  display: none !important;
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5), (-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2), (-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

#menu-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 28px;
  width: 100%;
  padding: 0 50px;
  background-color: #454f54;
}

#menu-tabs button {
  background-color: #454f54;
  color: #c7ced1;
  font-family: inherit;
  font-size: inherit;
  height: 80%;
  text-align: center;
  text-decoration: none;
  font-variant-caps: petite-caps;
  border-radius: 8px 8px 0 0;
  margin: 0 20px;
  padding: 2px 32px;
  cursor: default;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  outline: none;
}

#menu-tabs button:hover {
  background-color: #5c6970;
  color: #f1f3f4;
}

#menu-tabs button.active {
  color: #171a1c;
  font-weight: 500;
  background-color: #c7ced1;
  -webkit-box-shadow: 5px 5px 10px rgba(23, 26, 28, 0.5);
          box-shadow: 5px 5px 10px rgba(23, 26, 28, 0.5);
  font-size: 1.05em;
}

#menu-tabs button.active:focus {
  outline: none;
}

#menu-ribbon {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 72px;
  width: 100%;
  padding: 4px;
  color: #2e3538;
  background-color: #c7ced1;
  border-bottom: 1px solid #abb5ba;
  -webkit-box-shadow: 5px 5px 10px rgba(115, 132, 140, 0.25);
          box-shadow: 5px 5px 10px rgba(115, 132, 140, 0.25);
  border-right: 1px solid #abb5ba;
  border-left: 1px solid #abb5ba;
}

#sidebar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  background-color: #e3e6e8;
  padding: 10px;
  height: 100vh;
  border-right: 1px solid #abb5ba;
  border-left: 1px solid #abb5ba;
  -webkit-box-shadow: 5px 5px 10px rgba(115, 132, 140, 0.25);
          box-shadow: 5px 5px 10px rgba(115, 132, 140, 0.25);
}

footer {
  display: block;
  position: fixed;
  bottom: 0px;
  height: 24px;
  width: 100%;
  padding: 0 4px;
  color: #f1f3f4;
  background-color: #2e3538;
}

footer div {
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2px;
  text-align: center;
  padding: 2px 2px;
  border-radius: 8px 8px 0 0;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#wrapper {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
}
